flows.json
[{"id":"6377e355.c448fc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cc1354c0.a307e","type":"function","z":"6377e355.c448fc","name":"PreToken","func":"global.set(\"c\",msg.payload.c);\nglobal.set(\"bfs\",msg.payload.bfs);\nglobal.set(\"fa\",msg.payload.fa);\nglobal.set(\"w\",msg.payload.w);\nglobal.set(\"sp\",msg.payload.sp);\nglobal.set(\"ca\",msg.payload.ca);\nglobal.set(\"fagg\",msg.payload.fagg);\nglobal.set(\"age\",msg.payload.age);\nvar apikey=\"uuj3tUz04vp2PH5GvnBEvfAvkCPeVi06yZ7rU86dHJVd\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":282,"y":320,"wires":[["db343ae0.332cc8"]]},{"id":"db343ae0.332cc8","type":"http request","z":"6377e355.c448fc","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":481,"y":308.9999952316284,"wires":[["c5338962.1ab13"]]},{"id":"47fbfb62.fee83c","type":"debug","z":"6377e355.c448fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":920.0000114440918,"y":50.99999713897705,"wires":[]},{"id":"c5338962.1ab13","type":"function","z":"6377e355.c448fc","name":"Pre Prediction","func":"var c = global.get('c')\nvar bfs = global.get('bfs')\nvar fa = global.get('fa')\nvar w = global.get('w')\nvar sp = global.get('sp')\nvar ca = global.get('ca')\nvar fagg = global.get('fagg')\nvar age = global.get('age')\nvar token=msg.payload.access_token\nvar instance_id=\"e244b582-fdd0-421e-b4f9-eb61b1578941\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Cement (component 1)(kg in a m^3 mixture)\", \"Blast Furnace Slag (component 2)(kg in a m^3 mixture)\", \"Fly Ash (component 3)(kg in a m^3 mixture)\", \"Water  (component 4)(kg in a m^3 mixture)\", \"Superplasticizer (component 5)(kg in a m^3 mixture)\", \"Coarse Aggregate  (component 6)(kg in a m^3 mixture)\", \"Fine Aggregate (component 7)(kg in a m^3 mixture)\", \"Age (day)\"], \"values\": [[c,bfs,fa,w,sp,ca,fagg,age]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":678.0000076293945,"y":271.9999990463257,"wires":[["cccec59a.f2b53"]]},{"id":"cccec59a.f2b53","type":"http request","z":"6377e355.c448fc","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/a38fd880-3596-44fd-8884-869e86326ac2/predictions","tls":"","persist":false,"proxy":"","authType":"","x":771.5000076293945,"y":215.99999904632568,"wires":[["d2e6b3da.754c6","47fbfb62.fee83c"]]},{"id":"b855d9ca.801d98","type":"ui_form","z":"6377e355.c448fc","name":"","label":"","group":"e48cc412.af14c8","order":1,"width":0,"height":0,"options":[{"label":"Cement (component 1)(kg in a m^3 mixture)","value":"c","type":"number","required":true,"rows":null},{"label":"Blast Furnace Slag (component 2)(kg in a m^3 mixture)","value":"bfs","type":"number","required":true,"rows":null},{"label":"Fly Ash (component 3)(kg in a m^3 mixture)","value":"fa","type":"number","required":true,"rows":null},{"label":"Water  (component 4)(kg in a m^3 mixture)","value":"w","type":"number","required":true,"rows":null},{"label":"Superplasticizer (component 5)(kg in a m^3 mixture)","value":"sp","type":"number","required":true,"rows":null},{"label":"Coarse Aggregate  (component 6)(kg in a m^3 mixture)","value":"ca","type":"number","required":true,"rows":null},{"label":"Fine Aggregate (component 7)(kg in a m^3 mixture)","value":"fagg","type":"number","required":true,"rows":null},{"label":"Age (day)","value":"age","type":"number","required":true,"rows":null}],"formValue":{"c":"","bfs":"","fa":"","w":"","sp":"","ca":"","fagg":"","age":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":73,"y":362.9999952316284,"wires":[["cc1354c0.a307e"]]},{"id":"afd00071.2ed338","type":"ui_text","z":"6377e355.c448fc","group":"e48cc412.af14c8","order":2,"width":0,"height":0,"name":"","label":"Concrete compressive strength","format":"{{msg.payload}}","layout":"row-spread","x":879.6000366210938,"y":368.20000743865967,"wires":[]},{"id":"d2e6b3da.754c6","type":"function","z":"6377e355.c448fc","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":631.6000366210938,"y":111.60000133514404,"wires":[["afd00071.2ed338"]]},{"id":"e48cc412.af14c8","type":"ui_group","z":"","name":"Predicting Compressive Strength Of Concrete","tab":"a71ad96e.78aca","order":1,"disp":true,"width":"9","collapse":false},{"id":"a71ad96e.78aca","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]